services:
  db:
    image: mariadb:12
    container_name: fitai_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: fitai_db
      MYSQL_USER: fitai_user
      MYSQL_PASSWORD: fitai_pass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./backend/schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: fitai_user
      PMA_PASSWORD: fitai_pass
    ports:
      - "8081:80"
    depends_on:
      - db

  backend:
    build: ./backend
    container_name: tr1-backend
    ports:
      - "9000:9000"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: fitai_user
      DB_PASSWORD: fitai_pass
      DB_NAME: fitai_db
      API_PORT: 9000
      WS_PORT: 8082  # canvia aquest port si vols que no xocqui amb phpMyAdmin
      FRONTEND_ORIGINS: "http://localhost:3000,http://localhost:3001"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: tr1-frontend
    ports:
      - "3001:3000"
    environment:
      REACT_APP_API_URL: "http://localhost:9000"

volumes:
  db_data:
